# Xcode
.DS_Store
DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build
build/
*.o
*.a

# Swift Package Manager
.swiftpm/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/
